body{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 5vh;
}

#error{
    background: rgb(199, 199, 199);
    color: rgb(0, 0, 0);

    padding: 10px;
    border-radius: 20px;
    /* border: 2px solid black; */

    /* 460x60 */
    width:fit-content;
    height: fit-content;

    text-align: center;

}

.line{
    width: 100%;
    background: white;
    opacity: 40%;
    height: 5px;
    border-radius: 10px;
}